:root {
    --light: #f2f4ff;
    --dark: #6c756b;
    --blue: #96c5f7;
    --dark-blue: #023047;
    --green: #93acb5;
}

html {
    font-family: monospace;
    text-align: center;
    font-size: 12px;
}

body {
    margin: 0;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    background: var(--dark)
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    margin: auto;
    background: var(--light);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 6px;
    background: var(--blue);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

.tick {

}

.sweep {
    transition-timing-function: linear;
}

.second-hand {
    height: 2px;
}

.hour-hand {
    width: 35%;
    left: 15%;
}

.h12 {
    font-size: 2rem;
    color: var(--dark-blue);
}

.h3 {
    position: relative;
    top: 41%;
    left: 47%;
    font-size: 2rem;
    color: var(--dark-blue);
  }

.h6 {
    position: relative;
    top: 76%;
    font-size: 2rem;
    color: var(--dark-blue);
  }

.h9 {
    position: relative;
    top: 22%;
    right: 46%;
    font-size: 2rem;
    color: var(--dark-blue);
  }

button {
    margin-top: 20px;
    padding: 5px;
    width: 10rem;
    background: var(--light);
    border: 5px solid var(--green);
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    color: var(--dark-blue);
}

button:active {
    transform: scale(.9);
    box-shadow: 4px 4px 12px black;
    background-color:var(--dark);
    color: var(--light);
}

.zone {
    padding-top: 10px;
}