html {
    font-size: 15px;
}

body, html {
    font-family: monospace;
    padding: 20px 10px;
    background-color: hsl(0, 0%, 13%);
}

.title {
    text-align: center;
    font-size: 2rem;
    color: hsl(214,18%,90%);
}

.app {
    border: 5px solid hsl(214, 18%, 90%);
    border-radius: 10px;
    background-color: hsl(209, 82%, 60%);
    height: 70vh;
}

.app p {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.key {
    width: 10rem;
    border: 5px solid hsl(0,0%,13%);
    border-radius: 10px;
    min-height: 5rem;
    font-size: 1.2rem;
    text-align: center;
    margin: .3rem;
    padding: .5rem;
    transition: all 0.2s ease;
}

kbd {
    display: block;
    font-size: 1.5rem;
    text-decoration: underline;
}

.sound {
    color: hsl(214, 18%, 90%);
    font-size: .8rem;
}

.playing {
    border-color: hsl(190, 42%, 67%);
    transform: scale(1.2);
    box-shadow: 0 0 1rem hsl(190, 42%, 67%);
    background-color: hsl(0,0%,100%);
}

.playing span {
    color: hsl(0, 0%,13%);
}

footer {
    text-align: center;
    background: hsl(0,0%,33%);
    color: hsl(209,82%, 60%);
    min-height: 3rem;
    border-radius: 10px;
}

footer p {
    padding-top: 10px;
}

